@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    letter-spacing: 2px;
}

:root {
    --main-color: rgb(255, 166, 0);
    --text-color: rgb(0, 0, 0);
}
  
.navbar {
    background-color: var(--main-color);
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
}

.navbar-toggler{
    border: none;
    font-size: 2rem;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

footer {
    height: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.726);
}
